.cards {
  justify-content: center;
  align-items: center;
  width: 500px;
}

.card {
  margin: 0 auto;
  justify-content: center;
  border: solid 0.5px #f0ead6;
}

.card img {
  width: 200px;
  height: 200px;
}
